<footer class="text-sky-100 bg-sky-900 font-bold px-4 py-8">
    <div class="mx-auto max-w-6xl flex justify-between items-center">
        <div class="flex flex-col lg:flex-row items-center">
            <nav class="hidden lg:flex space-x-4">
                <a href="#qsomos" class="hover:text-orange-500 cursor-pointer">Quiénes somos</a>
                <a href="#nservicios" class="hover:text-orange-500 cursor-pointer">Servicios</a>
                <a href="#contacto" class="hover:text-orange-500 cursor-pointer">Contacto</a>
                <a routerLink="registro" class="hover:text-orange-500 cursor-pointer">Registro</a>
            </nav>
        </div>
        <p class="mr-8">By: <a href="" class="hover:text-orange-500">Nathalia Saiz</a> and <a href="" class="hover:text-orange-500">Mario Jurado</a> &copy; {{year}} </p>
        <nav class="flex space-x-4 text-2xl">
            <a href="" class="hover:text-orange-500"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="" class="hover:text-orange-500"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="" class="hover:text-orange-500"><i class="fa-brands fa-instagram"></i></a>
            <a href="" class="hover:text-orange-500"><i class="fa-brands fa-google"></i></a>
            <a href="" class="hover:text-orange-500"><i class="fa-brands fa-linkedin-in"></i></a>
        </nav>        
    </div>
</footer>