<footer
  id="main-footer"
  class="hidden fixed bottom-0 left-0 right-0 lg:flex justify-between border-t border-sky-100 bg-sky-900"
>
  <div class="max-w-6xl mx-auto flex justify-between">
    <div class="bg-sky-900 text-sky-100 font-bold p-1 px-10">
      <p class="mr-2 mt-1">
        By: <a href="" class="hover:text-orange-500">Nathalia Saiz</a> &
        <a href="" class="hover:text-orange-500">Mario Jurado</a> &copy;
        {{ year }}
      </p>
    </div>
    <div class="bg-sky-900 text-sky-100 flex space-x-4 text-xl p-1 px-10">
      <a href="" class="hover:text-orange-500 ml-2 mt-1"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <a href="" class="hover:text-orange-500 ml-2 mt-1"
        ><i class="fa-brands fa-square-twitter"></i
      ></a>
      <a href="" class="hover:text-orange-500 ml-2 mt-1"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="" class="hover:text-orange-500 ml-2 mt-1"
        ><i class="fa-brands fa-google"></i
      ></a>
      <a href="" class="hover:text-orange-500 ml-2 mt-1"
        ><i class="fa-brands fa-linkedin-in"></i
      ></a>
    </div>
  </div>
</footer>
