<input type="text" [(ngModel)]="searchTerm" (keyup)="filterData()" placeholder="Buscar..." class="mb-2 h-8 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-900 focus:border-sky-900">
<table class="table-auto w-full text-sm">
  <thead class="bg-sky-900 text-sky-100">
    <tr>
      @for (header of headers; track header) {
        <th class="px-4 py-2">{{ columnasMapeo[header] }}</th>
      }
      <th class="px-4 py-2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (dato of filteredData; track dato) {
      <tr class="text-sky-900 odd:bg-sky-200">
        @for (header of headers; track header) {
          <td class="border px-4 py-2">{{ dato[header] }}</td>
        }
        <td class="border px-4 py-2 space-x-2 text-xl text-center">
          <button (click)="editarElemento(dato)" class="text-violet-500 hover:text-green-500"><i class="fa-regular fa-pen-to-square"></i></button>
          <button (click)="eliminarElemento(dato)" class="text-violet-500 hover:text-orange-500"><i class="fa-regular fa-trash-can"></i></button>
        </td>
      </tr>
    }
  </tbody>
</table>